@use "colours" as *;

$line-height-xs: 115%;
$line-height-125: 125%;
$line-height-sm: 140%;
$line-height-lg: 170%;

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
// Medium is default: 1rem // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-24: 1.5rem; // 24px
$font-size-xl: 1.75rem; // 28px
$font-size-32: 2rem; // 32px
$font-size-40: 2.5rem; // 40px
$font-size-48: 3rem; // 48px

$transition-text-hover: all 125ms ease-in-out;

@font-face {
  font-family: "FutureSuperRegular";
  src: url("/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperHeadings";
  src: url("/fonts/ABCMonumentGrotesk-Medium.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperMono";
  src: url("/fonts/ABCMonumentGroteskMono-Regular.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperFeature";
  src: url("/fonts/Dia-Black.woff") format("woff");
  font-weight: 1 999;
  font-display: swap;
}

$heading: "FutureSuperHeadings", sans-serif;
$regular: "FutureSuperRegular", sans-serif;
$mono: "FutureSuperMono", monospace;
$feature: "FutureSuperFeature", sans-serif;

body {
  font-family: $regular;
  color: $black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading;
}

h1 {
  line-height: $line-height-xs;
  margin-bottom: 1.8rem;
  font-size: 2.8rem; // Fallback
  font-size: clamp(
    2rem,
    7vw,
    4.2rem
  ); // Min, Variable (including space for scrollbar), Max
  letter-spacing: -0.09rem; // Fallback
  overflow-wrap: break-word; // Backup in case string is too large for container
}

h2 {
  line-height: $line-height-xs;
  margin-bottom: 1.4rem;
  font-size: 1.6rem; // Fallback
  font-size: min(max(1.5rem, 4vw), 5rem); // Min, Variable, Max
  letter-spacing: -0.04rem;
}
.skinny-container {
  h2 {
    margin-top: 60px;
  }
}

h3 {
  line-height: $line-height-xs;
  margin-bottom: 1rem;
  font-size: 1.2rem; // Fallback
  font-size: min(max(1.2rem, 3vw), 1.8rem); // Min, Variable, Max
}

h4 {
  line-height: $line-height-sm;
  margin-bottom: 1rem;
}

h5 {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 120%;
  a {
    color: inherit;
    transition: $transition-text-hover;
    &:hover {
      color: $green;
    }
  }
}

.disclaimer {
  color: $black600;
  font-size: 0.75rem;
  line-height: $line-height-sm;

  a:hover {
    color: $black;
  }
}

strong,
.bold {
  font-family: $heading;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}
