@use "../styles/_reset.scss" as *;
@use "colours" as *;
@use "type" as *;

body {
  background-color: $black;
}

button,
.button {
  font-family: $bold;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  border: 2px solid $black800;
  border-radius: 100px;
  padding: 8px 32px;
  height: min-content;
  cursor: pointer;
  &:hover {
    border-color: $green;
  }
  &.full-width {
    display: flex;
    width: 100%;
  }
}
